export(MultiStrainPartialImmunity)
export(SEIR)
export(SEIR4AgeClasses)
export(SEIRnStages)
export(SIR)
export(SIR2Stages)
export(SIRBirthDeath)
export(SIRCarrierState)
export(SIRInducedMortality)
export(SIRInducedMortality2)
export(SIRPartialImmunity)
export(SIRSinusoidalBirth)
export(SIRSinusoidalForcing)
export(SIRTermTimeForcing)
export(SIRVector)
export(SIS)
export(SIS2RiskGroups)
export(SISinusoidalTransmBrith)
export(SISnRiskGroups)
import(FME)
import(deSolve)
